@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto+Serif:ital,opsz,wght@1,8..144,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-size: 20px;
    color: black;
}

/* headings and logos  */

h1, h2 {
    font-family: 'Roboto Serif' sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
}

#logo {
    float: left;
    font-size: 50px;
}

/* Navigation links */

#navbar {
    font-size: 25px;
    letter-spacing: 2px;
    overflow: hidden;
}

#navbar, #logo {
    line-height: 75px;
}

nav {
  background-color: black;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#navbar a {
     color: white;
     text-decoration: none;
     font-size: 25px;
     font-weight: 900;
}

#navbar a:hover {
   border-bottom: 1px solid white;
}

.active {
    border-bottom: 1px solid white;
}

/* hero image */

#hero-container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    height: 80vh;
    overflow: hidden;
}

.hero-text h2 {
    color: #fff;
    font-family: 'Roboto Serif' sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.hero-image {
        background: url('../images/hero-image.jpeg') no-repeat center center;
        height: 80vh;
        width: 100vw;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
}

.hero-text {
    font-family: 'Roboto Serif' sans-serif;
    text-align: center;
    color: #fff;
}

.hero-text p {
    color: #fff;
    font-family: 'Roboto Serif' sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
}

/* About AfriBrit Styling */

.about-text h2 {
   font-family: 'Roboto Serif' sans-serif;
   font-size: 40px;
   
}

.about-text {
    text-align: center;
    padding: 40px;
    color: black;
}

.about-text p {
    font-size: 20px;
    padding: 10px;
    font-weight: 300;
    line-height: 1.5;
    color: black;
    margin-bottom: 5px;
    
}

/* Styling the home page images */

#homepage-images {
     padding: 0 20px 0;
     padding-bottom: 300px;
     width: 300px;
     height: 100px;
    
} 

/* Resizing the images */

#homepage-images img {
    max-width: 100%;
    height: auto;
    object-fit: cover;

}

 .images {
    display: flex;
    gap: 5px;
}

/* footer */

#footer-section {
    height: 30px;
    padding-top: 100px;
}

#contact-details div {
    color: #fff;
    background-color: black;
    width: 33.3%;
    height: 200px;
    float: left;
    padding: 5px 0 0 5px;
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box;  
}

#contact-details h2 {
    color: #fff;
    margin-bottom: 20px;
}

#social-icons {
    background-color: black;
    
}

.icons {
    text-align: center;
    
}

.icons > li {
    display: inline;
}

.icons i {
    font-size: 150%;
    padding: 5%;
    color: #fff;
}

.icons i:hover {
    background-color: grey;
}

ul ~ p {
    color: #fff;
    font-size: 25px;
    text-align: center;
}

/* Cuisines page styling */
.menu {
    font-family: 'Roboto Serif' sans-serif;
    font-size: 14px;

}

.menu-heading {
    font-family: 'Roboto Serif' sans-serif;
    margin: 0;
    padding-top: 3em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #ccc;

}

.menu-grouping {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}

.menu-item {
    display: flex;
}

.menu-item-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 1.5em;
}

.menu-item-text {
    flex-grow: 1;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
}

.menu-item-name {
    margin-right: 1.5em;
}

.menu-item-description {
    line-height: 1.5;
    margin-top: 1em;
    font-family: Lato, sans-serif;
   
}

.form-section {
    clear: left;
    background: url(../images/table-boooking.jpeg);
    background-size: cover;
    background-position: center;
    height: 700px;
}

.book-form {
    margin: 100px 5% 0 0;
    color:#fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    height: 500px;
    position: absolute;
    left: 5%;
    padding: 20px;
}

input {
    width: 100%;
    padding: 5px 5px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=textarea] {
     height: 80px;
     border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    font-size: 16px;
    background-color: rgba(60, 60, 60, 0.6);
    color: #ccc;
    padding: 5px 0;
    margin: 10px 0;
} 

input[type=submit]:hover {
    background-color: rgb(236, 21, 21);
    color: #ccc;
}


@media screen and (min-width: 992px) {
    .menu {
        font-size: 16px;

    }

    .menu-grouping {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-item-image {
        width: 300px;
        height: 300px;
    }
}