@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Noto+Serif+Georgian:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-size: 20px;
    color: #171313;
}

/* logos and headings */

#logo {
    float: left;
    text-decoration: none;
    font-style: italic;
    color: #008000;
    font-size: 200%;
}

h1, h2 {
    font-family: 'Noto serif Georgian', sans-serif;
    text-transform: uppercase;
    color: black;
}
